name: Codecov

on:
  push:
    branches:
      - main  # ou o nome da sua branch principal

jobs:
  codecov:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
          pip install pytest pytest-cov

      - name: Run tests and generate coverage report
        run: |
          python -m pytest --cov ./tests/

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}  # Configure o CODECOV_TOKEN em suas configurações de GitHub Secrets
          verbose: true
